* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.background {
    max-width: 100%;
    background-image: linear-gradient(#C04848, #480048);
    width: 100%;
    height: 100vh;
}

.flex-box {
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 350px;
    width: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}

.addTask {


    padding: 20px;

}

input {
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #edeef0;
    padding: 12px;
    margin-right: 5px;
    width: 200px;
}

input:hover {
    background-color: #dadbdd;
}

button {
    cursor: pointer;
    color: white;

    background-image: linear-gradient(#ca5151, #580558);
    padding: 10px;
    border-radius: 50px;
    border: none;
}

button:hover {
    background-image: linear-gradient(#e75959, #880a88);
}

.taskList ul {
    position: relative;
    margin: 14px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.taskList .fa-trash-o {
    position: absolute;
    cursor: pointer;
    right: 20px;
}

.taskList .fa-check {
    position: absolute;
    cursor: pointer;
    right: 60px;
}